.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
test/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
.phpstorm.meta.php
.php-cs-fixer.php
.gitignore
README.md
Dockerfile
docker-compose.yml
init.sql
.github/
phpunit.xml